@page
@model MPW.Pages.Objectives.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Objective</h4>
<hr />
<h5 class="text-danger">@Model.Error</h5>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Objective.Name" class="control-label"></label>
                <input asp-for="Objective.Name" class="form-control" />
                <span asp-validation-for="Objective.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Objective.Link" class="control-label"></label>
                <input asp-for="Objective.Link" class="form-control" />
                <span asp-validation-for="Objective.Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Objective.EstimatedDateCompleted" class="control-label"></label>
                <input asp-for="Objective.EstimatedDateCompleted" class="form-control" />
                <span asp-validation-for="Objective.EstimatedDateCompleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
