@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject ApplicationDbContext _context

@{ 
    var user = await _context.GetAppUserAsync(User.Identity.Name);
    bool isMentor = false;
    bool isProtege = false;
    bool isClient = false;

    if (user != null)
    {
        isMentor = user.Mentor == null ? false : true;
        isProtege = user.Protege == null ? false : true;
        isClient = user.Client == null ? false : true;
    }
}

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Profiles and Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    @if (isMentor)
                    {
                        <a class="dropdown-item" asp-page="/Mentor/Profile/Details">Mentor Profile</a>
                    }
                    @if (isProtege)
                    {
                        <a class="dropdown-item" asp-page="/Protege/Profile/Detail">Protege Profile</a>
                    }
                    @if (isClient)
                    {
                        <a class="dropdown-item" asp-page="/Client/Profile/Detail">Client Profile</a>
                    }

                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
                    <a class="dropdown-item" asp-page="/SelectUserType">Add New Profile</a>
                    <button class="btn btn-link dropdown-item" type="submit">Logout</button>
                </div>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}